.container{
    font-family: "Curvy Thins";
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 70px;
    box-shadow: 5px 5px 25px rgba(0,0,0,0.15);
    background-color: #fcf9f6;
    text-align: center;
    height: 80vh;
    margin: auto;
}

.secondaryHeadline{
    color: #555;
    font-size: 32px;
    letter-spacing: 0.03em;
}

.primaryHeadline{
    color: #F39200;
    font-size: 52px;
    letter-spacing: 0.05em;
}

.euContainer{
    display: flex;
    align-items: center;
    width: 50%;
    font-family: sans-serif;
    text-align: left;
    font-size: 12px;
    gap: 24px;
    padding: 24px;
    color: #3b3b3b;
}

@media screen and (max-width: 700px){
    .secondaryHeadline{
        font-size: 28px;
    }
    
    .primaryHeadline{
        color: #F39200;
        font-size: 40px;
    }

    .euContainer{
        display: flex;
        /* flex-direction: column; */
        width: 100%;
        font-family: sans-serif;
        text-align: left;
        font-size: 12px;
        gap: 24px;
        padding: 24px;
        color: #3b3b3b;
    }
}