psycopg[binary,pool]
Django
djangorestframework
django-allauth
django-extensions
django-environ
django-filter
django-cors-headers
django-cleanup
django-formtools
django-crispy-forms
django-tables2
django-filter
django-htmx
django-dashboards
django-location-field
django-matomo
django-unfold
crispy-bootstrap5
whitenoise
django-admin-soft-dashboard
pillow
qrcode
rdflib
python-dotenv
python-dateutil
requests
markdown
fontawesomefree
pandas
plotly
