/* Table style */
.table-container th.asc:after {
    content: '\0000a0\0025b2';
    float: right;
}

.table-container th.desc:after {
    content: '\0000a0\0025bc';
    float: right;
}

.table-container table td:nth-child(1) {
    width: 3%;
}

.table-container table td:nth-child(2) {
    width: 50%;
}

.table-container table td:nth-child(3) {
    width: 30%;
}

/* Checkboxes... */
input[type=checkbox] {
	background-color: #D3D3D3 !important;
}

/* Table Pagination */
.page-link:hover {
  z-index:2;
  border-color:#dee2e6
}
.page-link:focus,
.page-link:hover {
  color:#830866;
  background-color:#e9ecef
}
.page-link:focus {
  z-index:3;
  outline:0;
  box-shadow:0 0 0 .2rem rgba(203,12,159,.25)
}
.page-item:not(:first-child) .page-link {
  margin-left:-1px
}
.page-item.active .page-link {
  z-index:3;
  color:#fff;
  background-color:#cb0c9f;
  border-color:#cb0c9f
}
.page-item.disabled .page-link {
  color:#6c757d;
  pointer-events:none;
  background-color:#fff;
  border-color:#dee2e6
}
.page-link {
  padding:.375rem .75rem
}
.page-item:first-child .page-link {
  border-top-left-radius:.5rem;
  border-bottom-left-radius:.5rem
}
.page-item:last-child .page-link {
  border-top-right-radius:.5rem;
  border-bottom-right-radius:.5rem
}
.pagination-lg .page-link {
  padding:.75rem 1.5rem;
  font-size:1.125rem
}
.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius:.75rem;
  border-bottom-left-radius:.75rem
}
.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius:.75rem;
  border-bottom-right-radius:.75rem
}
.pagination-sm .page-link {
  padding:.25rem .5rem;
  font-size:.875rem
}
.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius:.25rem;
  border-bottom-left-radius:.25rem
}
.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius:.25rem;
  border-bottom-right-radius:.25rem
}

/* Rows highlight */
.highlight-me {  
  background-color: white;  
  animation-name: blink;  
  animation-duration: 2s;  
  transition-timing-function: ease-in;  
  transition: 0.2s;  
} 

@keyframes blink {  
  0% { background-color: orange; color: white;}  
  50% { background-color: orange; color: white; }  
  51% { background-color: white; }  
  100% { background-color: white; }  
}

/* Progress bar */
.progress {
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
    position: relative;
}

.progress {
    opacity: 0;
}

.htmx-request .progress {
    opacity: 1;
}
.htmx-request.progress {
    opacity: 1;
}

.progress .indeterminate {
    background-color: blue;
}

.progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}
