/*
 * https://www.w3docs.com/snippets/html/how-to-create-a-table-with-a-fixed-header-and-scrollable-body.html
 */

.fixed_header {
  width: 600px;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 100px;
}
.fixed_header thead tr {
  display: block;
}
.fixed_header thead {
  background: black;
  color: #fff;
}
.fixed_header th,
.fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

/*
 * Form widgets
 */
/* SplitDateTimeField */
.datetime {
  display: inline-grid;
  grid-template-columns: repeat(6, auto);
  vertical-align: middle;
}
.vDateField, .datetimeshortcuts {
  display: inline-block;
}
.datetimeshortcuts {
  padding: 0.5rem 0.75rem;
}
