.formContainer {
    color: #666;
    width: 100%;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #44444428;
    border-radius: 5px;
}

.formContainer div {
    border-bottom: 1px solid #44444428;
    padding: 1rem;
    /* border-radius: 5px; */
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleContainer h4,
.icon {
    font-size: 1.5rem;
}

.icon {
    color: coral;
}

.submitBtn {
    border: none;
    background: coral;
    color: #fff;
    font-size: 1.25rem;
    border-radius: 5px;
    padding: .5rem 1.5rem;
    cursor: pointer;
}

.questionnaireFrame {
    border: 0;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}