{% load render_table from django_tables2 %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block main %}
    {# Search form #}
    <form hx-get="{% url 'dashboard-table-model' model=model %}" 
          hx-target="div.table-container-{{ table.id }}" 
          hx-swap="outerHTML" 
          hx-indicator=".progress-{{ table.id }}" 
          class="form-inline">
        {% crispy filter.form %}
    </form>

    {# Progress indicator #}
    <div class="progress-{{ table.id }}">
        <div class="indeterminate"></div>
    </div>

    {# The actual table #}
    {% render_table table %}
{% endblock %}
