@font-face {
    font-family: "Curvy Thins";
    src: url('../../fonts/Curvy-Thins.ttf');
    font-weight: normal;
    font-style: normal;
}

.container{
    background:url(../../public/bg.jpg) center/cover no-repeat;
    max-width: 1400px;
    width: 100%;
    height: auto;
    height: 100%;
    padding: 70px;
    box-shadow: 5px 5px 25px rgba(0,0,0,0.09);
    text-align: left;
    border-radius: 7px;;
    position: relative;
}

.primary{
    font-size: 48px;
    font-weight: 300;
    color: #0e173f;
}

.secondary{
    font-size: 16px;
    font-weight: 600;
    color: #adadad;
    margin-bottom: 6px;
    margin-left: 6px;
}

.bold{
    font-weight: 700;
}

.boldline{
    margin-left: 6px;
    margin-bottom: 24px;
    width: 120px;
    height: 8px;
    background-color: #f39200;
}


.form{
    width: 100%;
}

.form .inputContainer{
    margin-bottom: 24px;
}


.inputContainer input:focus{
    outline:1px solid #f39200;

}

.inputContainer label{
    display: block;
    font-size: 18px;
    color: #0e173f;
    font-weight: 400;
}

.submitBtn{
    font-family: 'Raleway', sans-serif;
    border: none;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    background-color: #f39200;
    border-radius: 3px;
    cursor: pointer;
}

.submitBtn:disabled{
    background: #cacaca;
    color: rgb(133, 133, 133);
}

.logo{
    margin-top: 48px;
}

.errorMessage{
    color: rgb(187, 81, 81);
    font-size: 12px;
    margin-top: 8px;
}

.flagContainer{
    position: absolute;
    right: 2%;
    top: 2%;
    display: flex;
    align-items: center;
    gap: 4px;
}
.flagBtn{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .container{
        /* height: 80vh; */
        margin: auto;
        padding:40px;
    }
}

@media (max-width: 800px){
    .container{
        background:url(../../public/mobile-bg.png) center/cover no-repeat;
        width: 100%;
        height: 100vh;
    }

    .inputContainer input{
        width: 100%;
        max-width: none;
    }
}

@media screen and (max-width: 800px){
    .container{
        padding:80px 40px;
    }
    .submitBtn{
        width: 100%;
    }
}
@media (max-width: 500px){
    .primary{
        font-size: 40px;
    }
    .container{
        padding:24px
    }
}
@media (max-width: 350px){
    .primary{
        font-size: 28px;
    }
}