{% load view %}

<div class="col-lg-6 col-md-6 mb-md-0 mb-4 d-flex align-items-stretch">
  <div class="card flex-fill" x-data="{total_rows: 0, paginated_rows: 0, model: '{{model}}'}">
    <div class="card-header pb-0">
      <div class="row">
        <div class="col-lg-10 col-9">
          <h6 x-text="'{{model}} (' + paginated_rows + '/' + total_rows + ')'">{{model}} </h6>
          <!--
          <p class="text-sm mb-0">
            <i class="fa fa-check text-info" aria-hidden="true"></i>
            <span class="font-weight-bold ms-1">30 done</span> this month
          </p>
          -->
        </div>
        <div class="col-lg-2 col-3 my-auto text-end">
          <div class="dropdown float-lg-end pe-4">
            <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v text-secondary"></i></a>
            <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
              <li>
                <a class="dropdown-item border-radius-md" data-bs-toggle="collapse" data-bs-target="#table-search-{{model}}">Toggle Search</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body px-0 pb-2">
      {% view 'dashboard-table-model' model=model %}
    </div>
  </div>
</div>
