<footer class="footer pt-3">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start">
          &copy; 2020 - 2023 <a href="https://www.vast-project.eu/" class="text-muted" target="_blank">The VAST Project Consortium</a>. All rights reserved.
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="https://platform.vast-project.eu/" class="nav-link text-muted">VAST Platform</a>
          </li>
          <li class="nav-item">
            <a href="https://www.vast-project.eu/" class="nav-link text-muted">VAST</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <table style="border-collapse: collapse; border: none; margin-top: 4rem; font-size: small;">
      <tbody>
        <tr style="border-collapse: collapse; border: none;">
          <td style="border-collapse: collapse; border: none;  padding: 0.5rem;">
            <img src="https://ec.europa.eu/research/participants/docs/h2020-funding-guide/imgs/eu-flag.jpg" name="European Union flag" width="50px" border="0" />
          </td>
          <td style="border-collapse: collapse; border: none;">
            This project has received funding from the <i>European Union's Horizon 2020 research and innovation programme</i> under grant agreement No 101004949. This website reflects only the view of the authors and the European Commission is not responsible for any use that may be made of the information it contains.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</footer>
