body .dashboards {
  padding: 1em;
  margin: 0 auto;
  max-width: 100%;
  min-height: 80vh;
  background: var(--root-background);
  color: var(--color-text-primary);
}

.light .dashboards {
  background-color: #f8f9fa;
  background: #f8f9fa;
}

.dark .dashboards {
  background-color: #283149;
  background: #283149;
}

.dashboards .dashboard-component-inner {
  padding: 0.5rem;
}

.table-description, .dashboards .table-description,
.table-description-2, .dashboards .table-description-2,
.table-left, .dashboards .table-left {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
  text-align: start;
  font-size: 1rem;
  & a {
    font-size: 1rem;
  }
}

.font-size-075 {
  font-size: 0.75rem !important;
  & a {
    font-size: 0.75rem !important;
  }
}

.table-description td, .table-description th,
.table-description-2 td, .table-description-2 th,
.dashboards .table-description td, .dashboards .table-description th,
.dashboards .table-description-2 td, .dashboards .table-description-2 th,
.table-left td, .dashboards .table-left td,
.table-left th, .dashboards .table-left th {
  word-wrap: break-word;
  white-space: normal;
}

.table-description th:first-child {
  width: 15% !important;
}

.table-description th:nth-child(2) {
  /*width: calc(75% - 80px) !important;*/
}

.table-description th:last-child {
  width: 164px !important;
}

.table-description-2 th:first-child {
  width: 25% !important;
}

.table-last-fit th:last-child {
  width: 1%;
  white-space: nowrap;
}

.table-first-w-50 th:first-child {
  width: 50% !important;
}

.table-not-first-align-center tr td:not(:first-child),
.table-not-first-align-center tr th:not(:first-child){
  text-align: center;
}

hr {
  background: var(--bs-heading-color);
}

.activity-card .header-title::before {
  font: var(--fa-font-solid);
  content: "\f19c";
  padding-right: 10px;
}
