{% extends 'layouts/base.html' %}

{% block title %}{% if request.user.is_authenticated %}Dashboard{% else %}Home{% endif %}{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-model-tab" data-bs-toggle="tab" data-bs-target="#nav-model" type="button" role="tab" aria-controls="nav-model" aria-selected="true">VAST Model</button>
    <button class="nav-link" id="nav-data-tab" data-bs-toggle="tab" data-bs-target="#nav-data" type="button" role="tab" aria-controls="nav-data" aria-selected="false">My Team Data</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-model" role="tabpanel" aria-labelledby="nav-model-tab">
    {% include "pages/vast_model.html" %}
  </div>
  <div class="tab-pane fade" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">
    {% include "pages/my_team_data.html" %}
  </div>
</div>
{% else %}
{% include "pages/home.html" %}
{% endif %}

  {% include "includes/footer.html" %}
</div>
{% endblock content %}
