{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{ dashboard.get_meta.name }}{% endblock title %}

{% block extrahead %}
{% block dashboards_js %}{% endblock dashboards_js %}
{% endblock extrahead %}
{% block extrastyle_top %}
{% comment %}
{% block dashboards_style %}
{% endblock dashboards_style %}
{% endcomment %}
{% block dashboards_style %}{% endblock dashboards_style %}
<link id="pagestyle" href="{% static 'dashboards/css/dashboards-admin_soft.css' %}" rel="stylesheet" />
{% endblock extrastyle_top %}
{% block content_footer %}
{{ block.super }}
{% include "includes/footer.html" %}
{% endblock content_footer %}
{% block dashboards_form_media %}
{{ block.super }}
{% endblock dashboards_form_media %}
