.storyContainer {
    height: 100%;
}

.storyInput {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 300px;
    min-width: 500px;
}

.dotLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 100%;
    width: 100%;
}

.savingText {
    font-size: 16px;
    color: #2c2c2c;
    margin-top: 20px;
    margin-bottom: 0;
}

.btnContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: .5rem;
}

.btnBack {
    padding: .75rem 3rem;
    min-width: 200px;
    background: #b4c5a5;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 2rem 0;
    cursor: pointer;
}

@media (max-width: 800px) {

    .ageContainer select {
        width: 100%;
        max-width: none;
    }
}

.submitBtn {
    font-family: 'Raleway', sans-serif;
    border: none;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    background-color: #f39200;
    border-radius: 3px;
    cursor: pointer;
}

.submitBtn:disabled {
    background: #cacaca;
    color: rgb(133, 133, 133);
}

.logo {
    margin-top: 48px;
}

.cardsRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 25px;
    max-width: 750px;
    gap: 1rem;
}

.storyCards {
    margin: auto;
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    padding: 5px 15px 15px;
}

.cardsTitle {
    color: #2c2c2c;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 3rem;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.imageContainer {
    display: flex;
    margin: auto;
    transition: transform .3s;
}

.imageContainer:hover {
    transform: scale(2.5);
}

.imageContainer > img {
    width: 75px;
}
