.container{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: min(90%, 900px);
    margin: 0 auto;


    padding: 4rem 2rem;

}

.primaryHeadline{
    color: #36353E;
    font-size: 40px;
    line-height:1;
    font-weight: 700;
    margin-bottom: 12px;
}
.secondaryHeadline{
    color: #81818d;
    font-size: 18px;
    margin-bottom: 24px;
    font-weight: 700;
}
.text{
    color: #A8A8BA;
    font-size: 16px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 32px;
    line-height: 1.4;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputContainer label{
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
    font-weight: 700;
}

.input{
    width: 180px;
    padding: 8px 32px;
}
