.titleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleContainer h4,
.icon{
    font-size: 1.5rem;
}
.icon{
    color: #b4c5a5;
}

input{
    /* display: flex;
    align-items: center; */

}

.submitBtn{
    border: none;
    background: #b4c5a5;
    color: #fff;
    font-size: 1.25rem;
    border-radius: 5px;
    padding: .5rem 1.5rem;
    cursor: pointer;
    margin: 2rem;
}